.hentry
  %h2.entry-title= link_to 'Welcome to geewee!', root_path
  .subtitle It's configuration time!
  %br.clear
  .entry-content
    %h1 Hi there :D
    %h2 first of all...
    %p
      Ok the good news is that if you made it to this screen, the rest of the
      setup will be a piece of cake :)

    %h2 Now,
    %p
      Geewee is running but you need to configure some stuff like <strong>the
      blog's title</strong> and <strong>an author</strong> before starting
      using it. please run:
    %pre
      rake geewee:first_run
