.hentry
  %h2.entry-title= link_to 'You are not Authorized', root_url
  .subtitle !!!
  %br.clear
  .entry-content
    %h1 Hum hum,
    %p
      This text is still TODO, but you already get the idea.
