- id = if @preview then 'preview-comment' else "comment_#{comment.id}" end
%li{ :id => id, :class => 'comment' }
  .author
    %div
    %cite
      - if comment.url.nil?
        =h comment.name
      - else
        = link_to h(comment.name), comment.url
    %abbr{ :title => I18n.localize(comment.created_at) }
      il y a
      = time_ago_in_words(comment.created_at)
  .content
    = markdown_no_html(comment.body)
