- id = if comment.id.nil? then 'preview-comment' else "comment_#{comment.id}" end

%li.comment{ :id => id }
  .author
    %div
    %cite
      - if comment.url.nil?
        =h comment.name
      - else
        = link_to h(comment.name), comment.url
    %abbr{ :title => l(comment.created_at) }
      = time_ago_sentance(comment.created_at)
  .content
    = markdown_no_html(comment.body)
