.hentry
  %h2.entry-title=h @page.title
  - if @page.subtitle
    .vcard=h @page.subtitle
    %br.clear
  .entry-content
    = markdown @page.body
    %ul.meta
      %li
        Meta:
        = link_to 'Lien permanent', @page
      %li
        %abbr{ :title => l(@page.created_at) }
          Créée il y a
          = time_ago_in_words(@page.created_at)
        - if @page.modified_since_created?
          ,
          %abbr{ :title => l(@page.updated_at) }
            mise à jours il y a
            = time_ago_in_words(@page.updated_at)
