.hentry
  %h2{ :class => 'entry-title' }=h @page.title
  .entry-content
    = markdown @page.body
    %ul{ :class => 'meta' }
      %li
        Meta:
        = link_to 'Lien permanent', @page
      %li
        %abbr{ :title => I18n.localize(@page.created_at) }
          Créée il y a
          = time_ago_in_words(@page.created_at)
        - if @page.created_at != @page.updated_at
          ,
          %abbr{ :title => I18n.localize(@page.updated_at) }
            mise à jours il y a
            = time_ago_in_words(@page.updated_at)
