- @authors.each do |author|
  %h1=h author.name
  %ul
    - author.posts.find(:all, :conditions => 'published = true').each do |post|
      %li
        = link_to h(post.title), post
        dans
        = link_to h(post.category.display_name), archives_url(post.category)
        le
        %abbr{ :title => post.created_at }= post.created_at
        \/
        - post.tags.each do |tag|
          = link_to h(tag.display_name), archives_url(tag)
