%h1 Archives par Auteur:

- @authors.each do |author|
  %h2=h author.name
  %ul
    - author.posts.find(:all, :conditions => 'published = true').each do |post|
      = render :partial => 'line_post', :object => post
