- @tags.each do |tag|
  %h1=h tag.display_name
  %ul
    - tag.posts.find(:all, :conditions => 'published = true').each do |post|
      %li
        = link_to h(post.title), post
        par
        = link_to h(post.author.name), archives_url(post.author)
        dans
        = link_to h(post.category.display_name), archives_url(post.category)
        le
        %abbr{ :title => post.created_at }= post.created_at
