!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :name => 'author', :content => 'kAworu' }
    %meta{ :content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    %title
      fork while fork:
      =h '@post.title TODO'

    = stylesheet_link_tag 'style', 'application'
    = yield :head

  %body
    #container
      <!-- start header -->
      #header
        %h1
          %span
            %a{ :href => '/' } fork while fork
        %h2 :(){:|:&nbsp;};:
      <!-- end header -->

      <!-- start body -->
      #page
        #content
          = yield
        #sidebar
          SIDEBAR TODO
        %br{ :style => 'clear:both' }
      <!-- end body -->

      <!-- start footer -->
      #footer
        %hr
          %p
            %a{ :href => '/' } fork while fork
          %ul
            %li
              Propulsé par:
              %a{ :href => 'http://hg.kaworu.ch/rails-rgolb' } Rgolb
              \/ Design:
              %a{ :href => 'http://quotedprintable.com/pages/scribbish' } scribbish
      <!-- end footer -->
